{% extends  'blog/base.html' %}
{%block content%}
        {% load crispy_forms_tags %}
        <!--Login--> 
        <main class ="form-signin">
            <div class="container py-5">
                <h1>Login</h1>
                <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
            <small class="text-muted">
                Already Have An Account? <a href="{%url 'register-page'%}">Sign Up</a>
            </small>
        </main>
        
{%endblock content%}
